@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 22px;
  font-family: 'Indie Flower', cursive;
  position: relative;
}

body:after {
   content : "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   background-image: url('../src/images/silly-notebook.jpg'); 
   width: 100%;
   height: 100%;
   opacity : 0.1;
   z-index: -1;
   background-size: contain;
}